<%= form_for(@actor) do |f| %>
  <% if @actor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actor.errors.count, "error") %> prohibited this actor from being saved:</h2>

      <ul>
      <% @actor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
   <b> <%= f.label :name %><br /> </b>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <b> <%= f.label 'Date Of Birth' %><br /> </b>
    <%= f.date_select :dob %>
  </div>
  <div class="field">
   <b> <%= f.label  :gender %><br /> </b>
    <%= f.select :gender,options_for_select([ "Male", "Female" ], "Male") %>
  </div>
<div
  <div class="actions">
  
<b> DVD's <br> </b>

 <% @dvds.each do |dvd| %>
		<%= check_box_tag(
			"actor[dvd_actor][#{dvd.id}]", 
			"1", 
			@actor.dvds.detect{|d| d == dvd}) %>
			<%= "#{dvd.name}"%><br />
<% end %>

<br> 
    <%= f.submit %>
  </div>
<% end %>
