<%= form_for(@director) do |f| %>
  <% if @director.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@director.errors.count, "error") %> prohibited this director from being saved:</h2>

      <ul>
      <% @director.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b> <%= f.label :name %><br /> </b>
    <%= f.text_field :name %>
  </div>
  <div class="field">
   <b> <%= f.label :dob %><br /> </b>
    <%= f.date_select :dob %>
  </div>
 <div class="field">
   <b> <%= f.label  :gender %><br /> </b>
    <%= f.select :gender,options_for_select([ "Male", "Female" ], "Male") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
