<%= form_for(@actorlist) do |f| %>
  <% if @actorlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actorlist.errors.count, "error") %> prohibited this actorlist from being saved:</h2>

      <ul>
      <% @actorlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dvd_id %><br />
    <%= f.number_field :dvd_id %>
  </div>
  <div class="field">
    <%= f.label :actor_id %><br />
    <%= f.number_field :actor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
