<%= form_for(@dvd) do |f| %>
  <% if @dvd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dvd.errors.count, "error") %> prohibited this dvd from being saved:</h2>

      <ul>
      <% @dvd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :asin %><br />
    <%= f.text_field :asin %>
  </div>
<div class="field">
    <%= f.label :actors %><br />
<% @actors.each do |actor| %>
			<%= check_box_tag(
                            "dvd[dvd_actor][#{actor.id}]", 
                            "1", 
                            @dvd.actors.detect{|d| d == actor}) %>
			<%= "#{actor.name}"%><br />
		<% end %>
</div>

<p>
  Current Director:
  <%= @thedirector %>
</p>

<div class="field">
    <%= f.label :director, "Director List" %><br />
    <%= f.select :director_id, options_from_collection_for_select(Director.all, :id, :name) %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
