<!DOCTYPE html>
<html>
<head>
  <title>Cloud1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'List DVDs', dvds_path %>
<%= link_to 'New DVD', new_dvd_path %>
<%= link_to 'List Actors', actors_path %>
<%= link_to 'New Actor', new_actor_path %>
<%= link_to 'List Directors', directors_path %>
<%= link_to 'New Director', new_director_path %>

<%= yield %>

</body>
</html>
